*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: Akronim;
  src: url("/CSS/fontFamily/Akronim-Regular.ttf");
} 
body{
    margin: 30px; 
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#HomeScreen{
    font-family:  Akronim;
    font-size: calc(.3rem + 1.6vw);
    align-self: center;
     width: 50%;
     height: 70%;
     margin: 2%;
     padding: 10px 20px ;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    background-image: url("../CSS/images/forêt.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: white;
}
#Direction{
display: flex;
justify-content: center;
align-items: center;
gap: calc(2rem + 1vw);
margin: 1rem; /*rem : taille selon l'élément racine ; em : taille selon l'élément parent ; vh : pourcentage de la hauteur du viewport ; vw : pourcentage de la largeur du viewport ; px : nombre de pixels ; % : pourcentage de l'élément parent*/
}

input[type="text"] {
  padding:0 20px;
  font-size: calc(.2rem + 1.4vw);
  font-family:Akronim;
  color: rgb(203, 176, 228);
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.087);
  border-radius: 28%;
}
input[type="submit"] {
    font-family:Akronim;
    font-size: calc(.2rem + 1.vw);
    background-color: rgba(255, 0, 0, 0.632);
    color: white;
    padding: 10px 20px;
    border-style: inset;
    border-radius: 50px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-image: url("/CSS/images/corde1.jpg");
    background-position: center;
    background-size: cover;
   
}

  .button {
    font-family:Akronim;
    font-size: calc(.2rem + 1.1vw);
    /* font-size: calc(.3rem + 1.6vw); */
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(37, 54, 49);
    border-radius: 50px;
    border-style: inset;
    cursor: pointer;
  }
  
  .button:hover {
    background-image: url("/CSS/images/texture-pierre-noire.jpg");
    background-position: center;
    background-size: cover;
}
.button a:hover{
     color: white;
}