*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: Akronim;
  src: url("/CSS/fontFamily/Akronim-Regular.ttf");
} 
body{
    margin: 30px; 
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#HomeScreen{
    font-family:  Akronim;
    font-size: calc(.3rem + 1.6vw);
    align-self: center;
     width: 50%;
     height: 70%;
     margin: 2%;
     padding: 10px 20px ;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    background-image: url("../CSS/forêt.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: white;
}
#Direction{
display: flex;
justify-content: center;
align-items: center;
gap: calc(2rem + 1vw);
margin: 1rem; /*rem : taille selon l'élément racine ; em : taille selon l'élément parent ; vh : pourcentage de la hauteur du viewport ; vw : pourcentage de la largeur du viewport ; px : nombre de pixels ; % : pourcentage de l'élément parent*/
}

input[type="submit"] {
    font-family:Akronim;
    font-size: calc(.2rem + 1.1vw);
    background-color: rgba(232, 81, 26, 0.632);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-image: url("/CSS/images/corde1.jpg");
    background-position: center;
    background-size: cover;
    font-size: calc(.3rem + 1.7vw);

}

  .button {
    font-family:Akronim;
    font-size: calc(.3rem + 1.6vw);
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #263427;
    border-radius: 4px;
    border-style: groove;
    border: none;
    cursor: pointer;
  }
  
  /* Style lorsque le curseur survole le bouton */
  .button:hover {
    background-image: url("/CSS/images/texture-pierre-noire.jpg");
    background-position: center;
    background-size: cover;
  
}
.button a:hover{
  font-size: calc(.3rem + 1.7vw);
     color: white;
}