{{define "easy"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Jeu du Pendu - Jouer</title>
</head>
<body>
    <div id="AFFICHAGE">
  <h1>Jeu du Pendu</h1>
  <h2>Bienvenue, {{range .Name}}{{.Name}}{{end}}!</h2>
  <h3>Vie restante: {{.Life}}</h3>
  <h3>Mot à deviner: {{.WordToGuess}}</h3>

  <form action="/" method="POST">
    <label for="guessedLetter">Lettre à proposer:</label>
    <input type="text" id="guessedLetter" name="guessedLetter" maxlength="1" required>
    <br>
    <button type="submit">Proposer</button>
  </form>
</div>
</body>
</html>

{{end}}