{{define "getOut"}}

<!DOCTYPE html>
<html>
<head>	
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/CSS/images/pendu/hangman_7.png" >
  <link rel="stylesheet" type="text/css" href="/CSS/play.css" >
  <title>Pendu-sortie</title>
</head>
<body>
    <div id="image">
  <h1>Jeu du Pendu</h1>
  <img src="/CSS/images/PicRetouch.png" alt="La faucheuse">
  <h2 style="color: rgb(128, 34, 72);">Sortie</h2>
  <p>Aurevoir et à la prochaine {{.Name}}</p>
</div>
</body>
</html>
{{end}}