{{define "Help"}}

<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/CSS/images/hangman9.png" >
    <link rel="stylesheet" type="text/css" href="/CSS/help.css" >
	<title>Pendu-Aide</title>
</head>
<body>
  <div id="image">
    <h1>Trouvez le mot...</h1>
    <h1>...Ou la mort vous Trouvera</h1>
    <img src="/CSS/images/PicRetouch.png" alt="La faucheuse">
    <p>Le jeu du pendu consiste à deviner un mot secret en proposant des lettres.</p>
    <p>Le mot secret est affiché avec des espaces vides pour chaque lettre.</p>
    <p>Le joueur a un nombre limité de tentatives pour deviner le mot et chaque erreur entraîne le dessin progressif d'un pendu.</p>
    <p>La partie se termine soit lorsque le joueur devine correctement le mot, soit lorsque le dessin complet du pendu est affiché.</p>
    <p>À la fin, le mot secret est révélé, et le joueur peut choisir de rejouer.</p>
    <p>À la fin, le mot secret est révélé, et le joueur peut choisir de rejouer.</p>
    <h2>Alors...</h2>
    <h2 style="color: rgb(128, 34, 72);">...Etes-vous à la hauteur??</h2>
    <a href="/home"> <button class="button">Retour</a></button>
  </div>
  
</body>
</html>
{{end}}