{{define "play"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/CSS/style.css" >
  <title>Jeu du Pendu - Jouer</title>
</head>
<body>
    <div id="AFFICHAGE">
  <h1>NIVEAU: {{.Difficulty}}</h1>
  <p>{{.Name}}</p>
  <h3>Vie restante: {{.Life}}</h3>
  <h3>Mot à deviner:{{.WORD}}</h3>
  <h3>Score: {{.Score}}</h3>
  <h3>Lettres Proposées : {{.Gameletters}}</h3>
 
   <form action="/guess" method="POST">
    <label for="guessedLetter">Lettre à proposer:</label>
    <input type="text" id="guessedLetter" name="guessedLetter" maxlength="20" required>
    <br>
    <button type="submit">Proposer</button>
  </form>
</div>
</body>
</html>
{{end}}