{{define "selection"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
    <div id="AFFICHAGE">

    <h1> NIVEAU DE DIFFICULTE</h1>
    <h2>Bienvenue,{{.}}!</h2>
        <div id="selectionner">
        <ol>
     <li> <div class="container">
            <a href="/easy">Facile</a>
            <i class="fas fa-arrow-right"></i>
            <div class="bg"></div>
          </div> 
    </li> 
        <li>
          <div class="container">
            <a href="/medium">Moyen</a>
            <i class="fas fa-arrow-right"></i>
            <div class="bg"></div>
          </div>
        </li> 
        <li>
            <div class="container">
              <a href="/hard">Difficile</a>
              <i class="fas fa-arrow-right"></i>
              <div class="bg"></div>
            </div>
          </li> 
          <li>
            <div class="container">
              <a href="/goldlevel">Gold Level</a>
              <i class="fas fa-arrow-right"></i>
              <div class="bg"></div>
            </div>
          </li> 
          <li>
            <div class="container">
              <a href="/getOut">Quitter</a>
              <i class="fas fa-level-down-alt"></i>
              <div class="bg"></div>
            </div>
          </li> 
        </ol>
    </div>
</div>
</body>
</html>

{{end}}

<!--templates/level.html 
<!DOCTYPE html>
<html>
<head>
	<title>Select Difficulty Level</title>
</head>
<body>
	<h1>Select Difficulty Level</h1>
	<p>Welcome, {{.PlayerName}}!</p>
	<form method="POST" action="/play">
		<p>Choose a difficulty level:</p>
		<input type="radio" name="difficulty" value="easy" id="easy" required>
		<label for="easy">Easy</label><br>
		<input type="radio" name="difficulty" value="medium" id="medium"> --> 
    