<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
    <div id="AFFICHAGE">

    <h1> NIVEAU DE DIFFICULTE</h1>
        <div id="selectionner">
        <ol>
     <li> <div class="container">
            <a href="index.html">Facile</a>
            <i class="fas fa-arrow-right"></i>
            <div class="bg"></div>
          </div> 
    </li> 
        <li>
          <div class="container">
            <a href="manucure.html">Moyen</a>
            <i class="fas fa-arrow-right"></i>
            <div class="bg"></div>
          </div>
        </li> 
        <li>
            <div class="container">
              <a href="manucure.html">Difficile</a>
              <i class="fas fa-arrow-right"></i>
              <div class="bg"></div>
            </div>
          </li> 
          <li>
            <div class="container">
              <a href="manucure.html">Gold Level</a>
              <i class="fas fa-arrow-right"></i>
              <div class="bg"></div>
            </div>
          </li> 
          <li>
            <div class="container">
              <a href="manucure.html">Quitter</a>
              <i class="fas fa-level-down-alt"></i>
              <div class="bg"></div>
            </div>
          </li> 
        </ol>
    </div>
</div>
</body>
</html>