{{define "selection"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/selection.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/CSS/images/fact_check_FILL0_wght400_GRAD0_opsz24.svg">
    <title>Jeu du Pendu - Sélection</title>
  </head>
<body>
    <div id="AFFICHAGE">
    <h1>DIFFICULTE</h1>
    <h2>Bienvenue, {{.}}!</h2>
      <div id="selectionner">
      
        <ol>
     <li class="container">
            <a href="/init/Facile">Facile</a>
            <i class="fas fa-arrow-right"></i>
            <div class="bg"></div>
          
    </li> 
        <li class="container">
            <a href="/init/Moyen">Moyen</a>
            <i class="fas fa-arrow-right"></i>
            <div class="bg"></div>
          
        </li> 
        <li class="container">
              <a href="/init/Difficile">Difficile</a>
              <i class="fas fa-arrow-right"></i>
              <div class="bg"></div>
           
          </li> 
          <li class="container">
              <a href="/init/Goldlevel">Gold Level</a>
              <i class="fas fa-arrow-right"></i>
              <div class="bg"></div>
            
          </li> 
          <li class="container">
              <a href="/getOut">Quitter</a>
              <i class="fas fa-level-down-alt"></i>
              <div class="bg"></div>
          </li> 
        </ol>
    </div>
</div>
<script lang="javascript">
  var i=0 
  function noBack(){
    if(i==0){
      i=1;
      window.history.forward();
    }
  }
</script>
</body>
</html>

{{end}}

<!--templates/level.html 
<!DOCTYPE html>
<html>
<head>
	<title>Select Difficulty Level</title>
</head>
<body>
	<h1>Select Difficulty Level</h1>
	<p>Welcome, {{.PlayerName}}!</p>
	<form method="POST" action="/play">
		<p>Choose a difficulty level:</p>
		<input type="radio" name="difficulty" value="easy" id="easy" required>
		<label for="easy">Easy</label><br>
		<input type="radio" name="difficulty" value="medium" id="medium"> --> 
    